# MCP VARS
MCP_BASE="http://127.0.0.1:8080/mcp/"
MCP_HOST=127.0.0.1
MCP_PORT=8080

# ENDPOINTS OPENAI IN AZURE
AZURE_OPENAI_API_KEY=...
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_DEPLOYMENT=o4-mini
AZURE_OPENAI_PREDICTOR_DEPLOYMENT=o4-mini
AZURE_OPENAI_RAG_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_ROUTER_DEPLOYMENT=gpt-35-turbo
AZURE_OPENAI_REASONING_DEPLOYMENT=gpt-4.1
AZURE_OPENAI_API_VERSION=2024-12-01-preview

