jupyter==1.0.0
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0
matplotlib_venn==1.1.2
upsetplot==0.9.0
missingno==0.5.2
kmodes==0.12.2
adjustText==1.3.0
shap==0.48.0
pmdarima==2.0.4